@charset "UTF-8";
@font-face {
  font-family: 'Shnobel';
  src: local("Shnobel Oblique"), local("Shnobel-Oblique"), url("../fonts/Shnobeloblique.woff2") format("woff2"), url("../fonts/Shnobeloblique.woff") format("woff"), url("../fonts/Shnobeloblique.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Shnobel';
  src: local("Shnobel Regular"), local("Shnobel-Regular"), url("../fonts/Shnobelregular.woff2") format("woff2"), url("../fonts/Shnobelregular.woff") format("woff"), url("../fonts/Shnobelregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Flow Ext';
  src: local("Flow Ext"), local("FlowExt"), url("../fonts/flowext.woff2") format("woff2"), url("../fonts/flowext.woff") format("woff"), url("../fonts/flowext.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Flow Ext';
  src: local("Flow Ext Bold"), local("FlowExt-Bold"), url("../fonts/flowextbold.woff2") format("woff2"), url("../fonts/flowextbold.woff") format("woff"), url("../fonts/flowextbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

body {
  color: #000;
  font: 0.625em/1.5 "Flow Ext", sans-serif;
  overflow-x: hidden;
  height: 100%; }

.wrapper {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Shnobel", serif;
  color: #000;
  font-weight: 400;
  clear: both; }

h1 {
  font-size: 55px;
  line-height: 55px; }

h2 {
  font-size: 35px;
  line-height: 42px;
  margin: 1.7em 0 .65em;
  font-weight: 400;
  color: #8E491C;
  letter-spacing: 0.01em; }

h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  color: #793F1A;
  margin: 1.5em 0 .65em;
  letter-spacing: 0.01em; }

h4 {
  font-size: 26px;
  line-height: 34px;
  margin: 1.2em 0 .6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #603215; }

h5 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 2.4em 0 1em;
  color: #000; }

h6 {
  font-size: 19px;
  font-weight: 400;
  margin: 1.6em 0 .8em;
  letter-spacing: 0.06em;
  line-height: 38px;
  color: #000; }

a {
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.float-right {
  float: right; }

.float-left {
  float: left; }

hr {
  background: url("../../img/separator.png") no-repeat;
  background-size: cover;
  margin: 34px -64px;
  border: none;
  height: 28px; }

.content a {
  color: #BB4604;
  text-decoration: none; }
  .content a:visited {
    color: #757575; }
  .content a:hover {
    color: #000; }

.content img {
  max-width: 100%;
  height: auto; }

.content figure {
  margin: 0;
  margin-bottom: 40px; }
  .content figure figcaption {
    line-height: 20px;
    font-size: 15px;
    text-align: left;
    margin-top: 12px;
    color: #AC693E; }
  .content figure.float-right {
    margin-left: 40px;
    padding-top: 10px; }
  .content figure.float-left {
    margin-right: 40px;
    padding-top: 10px; }

.content p {
  color: #000;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 24px; }
  .content p:last-child {
    margin-bottom: 0; }

.content iframe {
  max-width: 100% !important;
  margin: 25px 0; }

.content p + ul, .content p + ol {
  margin-top: -10px; }

.content hr {
  background: url("../../img/separator.png") no-repeat;
  background-size: cover;
  margin: 34px -64px;
  border: none;
  height: 28px; }

.content ul {
  list-style-type: none;
  padding-left: 55px;
  margin: 24px 0 24px;
  font-size: 16px;
  line-height: 24px;
  color: #674B38; }
  .content ul li {
    margin-bottom: 5px;
    position: relative; }
    .content ul li ul {
      margin-top: 5px;
      margin-bottom: 5px;
      padding-left: 32px; }
      .content ul li ul li {
        margin-bottom: 5px;
        position: relative; }
    .content ul li:before {
      content: '•';
      display: inline-block;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.006em;
      position: absolute;
      left: -18px;
      top: 2px;
      font-family: 'Flow Ext', serif;
      margin-right: 6px;
      color: #BB4604; }

.content ol {
  counter-reset: a;
  padding-left: 55px;
  margin: 10px 0 30px;
  line-height: 28px;
  font-size: 17px;
  color: #000; }
  .content ol li {
    list-style: none;
    margin-bottom: 5px;
    position: relative; }
    .content ol li:before {
      counter-increment: a;
      content: counter(a) ".";
      display: inline-block;
      margin-right: 7px;
      color: #BB4604;
      font-size: 17px;
      font-weight: 400;
      position: absolute;
      left: -16px;
      top: 0; }
    .content ol li ol {
      counter-reset: b;
      margin-bottom: 5px;
      margin-top: 5px;
      padding-left: 38px; }
      .content ol li ol li {
        margin-bottom: 5px; }
        .content ol li ol li:before {
          counter-increment: b;
          font-weight: 400;
          content: counter(a) "." counter(b) ".";
          display: inline-block;
          margin-right: 7px;
          color: #BB4604;
          font-size: 17px;
          left: -27px;
          top: 0;
          position: absolute;
          letter-spacing: 0.1em; }
        .content ol li ol li ol {
          counter-reset: c;
          padding-left: 38px; }
          .content ol li ol li ol li:before {
            counter-increment: c;
            content: counter(a) "." counter(b) "." counter(c) ".";
            margin-right: 7px;
            display: inline-block;
            color: #BB4604;
            font-size: 17px;
            top: 0;
            font-weight: 400;
            left: -41px;
            position: absolute;
            letter-spacing: 0.1em; }
          .content ol li ol li ol li ul li:before {
            left: -51px; }

.content blockquote {
  clear: both;
  font-size: 24px;
  font-weight: 700;
  padding: 46px 0px;
  line-height: 32px;
  margin: 50px auto 50px;
  position: relative;
  letter-spacing: 0.06em;
  z-index: 1;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.35);
  color: #FFFBDE; }
  .content blockquote:before {
    content: '';
    position: absolute;
    left: -200%;
    right: -200%;
    z-index: -1;
    background: url("../../img/blockquote.png") repeat;
    top: 0px;
    bottom: 0;
    z-index: -1; }
  .content blockquote .author {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    line-height: 28px;
    text-align: right;
    margin-top: 15px; }

.content table {
  color: #5E5E5E;
  border-spacing: 0;
  border-collapse: collapse;
  overflow-x: auto;
  margin: 20px 0 50px; }
  .content table caption {
    text-align: left;
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: .06em;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #231d1f;
    min-width: 300px;
    width: 100%;
    padding: 0; }
  .content table tr td {
    padding: 13px 25px;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    border: 1px solid #D6B084;
    vertical-align: top;
    background: none; }
  .content table tr th {
    border: 1px solid #D6B084;
    background: #FFF4E8;
    font-size: 13px;
    line-height: 28px;
    font-weight: 400;
    color: #D06400;
    padding: 14px 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase; }

.form {
  background: #FF981F;
  position: relative;
  z-index: 1;
  padding-top: 85px;
  padding-bottom: 54px; }
  .form a {
    color: #D6001F; }
  .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 32px; }
    .form-row:last-of-type {
      margin-bottom: 0; }
    .form-row--only-checkbox {
      padding-top: 6px;
      padding-bottom: 12px; }
    .form-row__label {
      color: #231d1f; }
    .form-row__info {
      width: 100%;
      font-size: 14px;
      line-height: 21px;
      font-weight: 300;
      color: #888888;
      margin: 15px 0 0; }
  .form__caption {
    font-size: 16px;
    line-height: 24px;
    color: #231d1f;
    width: 300px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 30px; }
  .form__area {
    width: 100%;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    .form__area--half-width {
      width: 30%; }
    .form__area--small {
      width: 49%; }
    .form__area--big {
      width: 50%; }
    .form__area--tiny {
      width: 16%; }
  .form select {
    height: 42px; }

.error .form__title {
  color: #c31c00; }

.has-error ~ .form__title {
  color: #fe8212; }

.form-error {
  color: #fff;
  position: relative;
  line-height: 21px;
  border-radius: 4px;
  padding: 56px 65px 51px 105px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  z-index: 1; }
  .form-error:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -200%;
    right: -200%;
    background: #2F348B;
    z-index: -1; }
  .form-error:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("../svg/form-error.svg") no-repeat;
    width: 70px;
    height: 70px; }
  .form-error ul {
    margin: 6px 0;
    margin-bottom: 0;
    padding-left: 0px; }
  .form-error ul li {
    color: #fff;
    margin-bottom: 3px;
    list-style: none; }
    .form-error ul li:last-of-type {
      margin-bottom: 0; }
    .form-error ul li:before {
      content: '';
      width: 4px;
      height: 4px;
      background: #c31c00;
      border-radius: 4px;
      left: -12px;
      top: 8px; }

.form-error + .form-row {
  padding-top: 10px; }

.input-search {
  border: 1px solid #9d9c9c;
  border-radius: 100px;
  background: #fff;
  height: 50px;
  font-size: 12px;
  color: #231d1f;
  padding: 0 19px;
  width: 100%; }
  .input-search:focus {
    outline: none; }
  .input-search__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    bottom: 5px;
    right: 20px;
    margin: auto;
    background: none;
    border: none;
    cursor: pointer; }
    .input-search__icon:focus {
      outline: none; }
    .input-search__icon svg {
      width: 24px;
      height: 24px; }
  .input-search:hover {
    color: #231d1f; }

.input-select {
  border: 1px solid #9d9c9c;
  border-radius: 100px;
  background: #fff url(../svg/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 93%;
  height: 50px;
  font-size: 12px;
  color: #231d1f;
  padding: 0 19px;
  width: 100%;
  font-weight: 400; }

.input-line {
  width: 100%; }
  .input-line input {
    width: 100%;
    padding: 9px 14px; }
  .input-line textarea {
    padding: 9px 14px; }

.input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .input-row .input-line {
    margin-right: 30px; }
    .input-row .input-line:last-of-type {
      margin-right: 0; }

.input-text {
  border-radius: 5px;
  background: #fff;
  border: none;
  font-size: 18px;
  line-height: 28px;
  height: 45px; }
  .input-text::-webkit-input-placeholder {
    color: #8d8d8d; }
  .input-text::-moz-placeholder {
    color: #8d8d8d; }
  .input-text:-ms-input-placeholder {
    color: #8d8d8d; }
  .input-text::-ms-input-placeholder {
    color: #8d8d8d; }
  .input-text::placeholder {
    color: #8d8d8d; }

.input-textarea {
  border-radius: 5px;
  background: #fff;
  border: none;
  font-size: 18px;
  line-height: 28px; }

.form-row.required {
  position: relative; }
  .form-row.required:after {
    content: 'Обязательное поле';
    position: relative;
    font-size: 12px;
    line-height: 23px;
    margin-left: 15px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #ffffff; }

textarea {
  width: 100% !important;
  min-height: 140px !important;
  border: 1px solid #9D9C9C;
  border-radius: 27px;
  padding: 15px 20px;
  color: #3a3a3a;
  line-height: 20px;
  font-size: 12px; }
  textarea:focus {
    outline: none; }

select {
  cursor: pointer;
  border: 1px solid #d3d3d3;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  padding: 0 36px 0 15px;
  width: 100%;
  background: #ffffff url("../svg/select-arrow.svg");
  background-position: 93% center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: .3s;
  transition: .3s; }
  select:focus {
    outline: none;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 144, 255, 0.54);
    box-shadow: 0 0 1px 1px rgba(0, 144, 255, 0.54);
    -webkit-transition: .3s;
    transition: .3s; }

select::-ms-expand {
  display: none; }

input.form__file-name {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  padding: 6px 15px;
  width: 100%;
  margin-right: 20px;
  height: 50px; }

.form__file input[type="file"] {
  display: none; }

/* Обязательно скрываем настоящий Input File */
.attach__file {
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  color: #ff6f00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px; }

.form-icon__file {
  height: 20px;
  width: 20px;
  margin-right: 7px; }

.form-button {
  background: #D6001F;
  border-radius: 0px 15px;
  padding: 17px 21px 20px;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  border: none;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: none;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer; }
  .form-button:hover {
    color: #ffffff;
    background: #bf0520;
    outline: none;
    -webkit-transition: .4s;
    transition: .4s; }
  .form-button:focus {
    color: #ffffff;
    background: rgba(191, 5, 32, 0.58);
    outline: none;
    -webkit-transition: .4s;
    transition: .4s; }

.form__file {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  cursor: pointer;
  margin-bottom: 0; }
  .form__file .form-button {
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 15px;
    z-index: 0;
    font-size: 14px;
    border: 2px solid #ce5c01;
    color: #606060;
    background: #ffffff;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: .4s;
    transition: .4s; }
    .form__file .form-button:hover {
      background: #ce5c01;
      color: #ffffff;
      -webkit-transition: .4s;
      transition: .4s; }

label {
  margin-bottom: 0; }

.checkbox {
  cursor: pointer;
  color: #808080;
  line-height: 24px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .checkbox.has-error .checkbox-custom {
    border: 1px solid #c72b11; }
  .checkbox__label {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    line-height: 24px;
    color: #000; }
    .checkbox__label a {
      color: #fff;
      text-decoration: none; }
  .checkbox input[type=checkbox] {
    visibility: hidden;
    opacity: 0;
    position: absolute; }
  .checkbox .checkbox__custom {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 13px;
    background: #ffffff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 5px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: .3s;
    transition: .3s;
    top: 6px; }
    .checkbox .checkbox__custom:hover {
      -webkit-transition: .3s;
      transition: .3s; }

.checkbox input:checked + .checkbox__custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  margin: auto;
  background: url(../svg/check.svg) no-repeat;
  background-size: cover;
  width: 17px;
  height: 14px; }

.checkbox:checked + .checkbox__custom {
  border: 1px solid #c76203; }

.radio-wrapper {
  margin-right: 13px;
  margin-bottom: 0;
  display: inline-block;
  margin-right: 55px; }
  .radio-wrapper .caption {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    color: #444444; }
  .radio-wrapper input[type="radio"] {
    display: none; }
    .radio-wrapper input[type="radio"]:checked + .radio-custom:before {
      position: absolute;
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 8px;
      background: #231d1f;
      top: 0px;
      left: 0px;
      bottom: 0;
      right: 0;
      margin: auto; }
  .radio-wrapper .radio-custom {
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #C4C4C4;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    margin-right: 12px;
    -webkit-transition: .2s;
    transition: .2s;
    background: #fff; }
    .radio-wrapper .radio-custom:hover {
      border: #929292 1px solid;
      -webkit-transition: .2s;
      transition: .2s; }

.start-page {
  height: 100%;
  background: url("../../img/start_bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }

.start-logotype {
  top: 65px;
  left: 70px;
  position: absolute; }

.main-page {
  background: url("../../img/bricks.png") repeat;
  position: relative; }
  .main-page:after {
    content: '';
    position: absolute;
    bottom: 18px;
    left: -200%;
    right: -200%;
    height: 804px;
    background: url("../../img/grey_street.png") repeat;
    background-position: center; }

.main-header {
  padding-top: 26px;
  position: relative; }
  .main-header-contacts {
    font-weight: 700; }
    .main-header-contacts a {
      text-decoration: none; }
    .main-header-contacts-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .main-header-contacts--main {
      position: absolute;
      top: 67px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 auto;
      left: 0;
      right: 0; }
      .main-header-contacts--main .main-header-contacts__address {
        margin-right: 210px; }
    .main-header-contacts--inner {
      position: absolute;
      top: 170px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto;
      left: 0;
      right: 0; }
      .main-header-contacts--inner .main-header-contacts__address br {
        display: none; }
      .main-header-contacts--inner .main-header-contacts-right {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
      .main-header-contacts--inner .main-header-contacts__phone {
        margin-right: 12px; }
    .main-header-contacts__address {
      font-size: 16px;
      line-height: 23px;
      text-align: right;
      letter-spacing: 0.006em;
      color: #757575; }
    .main-header-contacts__phone {
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.006em;
      color: #757575;
      position: relative; }
      .main-header-contacts__phone svg {
        width: 14px;
        height: 14px;
        margin-right: 5px;
        position: relative;
        top: 2px;
        fill: #757575; }
    .main-header-contacts__mail {
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.006em;
      color: #000;
      position: relative; }
      .main-header-contacts__mail svg {
        width: 14px;
        height: 14px;
        margin-right: 5px;
        position: relative;
        top: 2px;
        fill: #000; }

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .main-menu__item {
    font-family: 'Shnobel', serif;
    font-size: 22px;
    line-height: 20px;
    color: #b28730;
    text-decoration: none;
    margin-right: 34px;
    padding-top: 8px; }
    .main-menu__item:last-child {
      margin-right: 0; }
    .main-menu__item + .main-menu__logo {
      margin-left: -14px; }
  .main-menu__logo {
    margin-right: 20px; }

.main-page-footer {
  max-width: 220px;
  position: absolute;
  bottom: 18px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #757575;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  z-index: 25; }
  .main-page-footer a {
    color: #757575;
    text-decoration: none; }
  .main-page-footer span {
    display: block;
    margin-bottom: 18px; }
    .main-page-footer span:last-child {
      margin-bottom: 0; }

.main-houses {
  height: 903px;
  position: relative;
  width: 1045px;
  overflow: hidden;
  margin: -56px auto 0; }
  .main-houses__area {
    position: absolute;
    width: 380px;
    height: 571px;
    background: url("../../img/square.png");
    background-size: cover;
    top: 374px;
    left: 336px;
    z-index: 5; }
  .main-houses__tourist {
    width: 74px;
    height: 102px;
    position: absolute;
    top: 374px;
    left: 357px;
    z-index: 6;
    background: url("../../img/tourist.png"); }
  .main-houses__grandba {
    position: absolute;
    top: 536px;
    right: 357px;
    background: url("../../img/grandba.png");
    width: 45px;
    z-index: 6;
    height: 92px; }
  .main-houses__woman {
    position: absolute;
    top: 646px;
    left: 459px;
    background: url("../../img/woman.png");
    width: 50px;
    height: 105px;
    z-index: 6; }

.main-house {
  cursor: pointer;
  position: absolute; }
  .main-house.gallery {
    background: url("../../img/house_gallery.png");
    background-size: cover;
    width: 294px;
    height: 354px;
    top: 0;
    left: 0;
    z-index: 10; }
  .main-house.school {
    width: 475px;
    height: 325px;
    top: 58px;
    left: 283px;
    background: url("../../img/house_school.png");
    z-index: 10; }
  .main-house.showroom {
    top: 324px;
    left: 18px;
    width: 299px;
    height: 307px;
    z-index: 15;
    background: url("../../img/house_showroom.png"); }
  .main-house.shop {
    width: 295px;
    height: 354px;
    right: 0;
    top: 4px;
    z-index: 10;
    background: url("../../img/house_shop.png"); }
  .main-house.museum {
    width: 300px;
    height: 339px;
    right: 24px;
    top: 301px;
    z-index: 15;
    background: url("../../img/house_shop.png"); }
  .main-house.theater {
    width: 313px;
    height: 328px;
    left: 122px;
    top: 570px;
    z-index: 20;
    background: url("../../img/house_theater.png"); }
  .main-house.workshop {
    width: 267px;
    height: 279px;
    right: 154px;
    top: 624px;
    z-index: 20;
    background: url("../../img/house_workshop.png"); }

.inner-header {
  height: 231px;
  position: relative;
  background: #F5EBDF;
  border-bottom: 4px solid #A08255; }
  .inner-header:before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    width: 608px;
    position: absolute;
    background: url("../../img/header_left.png") no-repeat; }
  .inner-header:after {
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    width: 572px;
    position: absolute;
    background: url("../../img/header_right.png") no-repeat;
    background-position: center right; }

.col-xl-10 {
  margin: 0 auto; }

.history-body {
  padding: 18px 0 75px;
  background: #E3D2BD; }
  .history-body .breadcrumbs {
    margin-bottom: 45px; }
  .history-body__title {
    font-family: 'Shnobel', serif;
    font-weight: 400;
    color: #000;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 55px;
    line-height: 55px; }
  .history-body-text {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.006em;
    margin-bottom: 24px; }
    .history-body-text p {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 26px; }
      .history-body-text p:last-child {
        margin-bottom: 0; }
  .history-body-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .history-body-author-text {
      margin-right: 40px;
      text-align: right;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
      flex: 0 1 350px;
      color: #8E491C; }
    .history-body-author__name {
      letter-spacing: 0.02em;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 1px; }
    .history-body-author__caption {
      font-size: 15px;
      line-height: 30px;
      letter-spacing: 0.006em; }
    .history-body-author__image {
      width: 152px;
      height: 152px;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 50%; }
      .history-body-author__image img {
        max-width: 100%; }

.history-gallery {
  background: url("../../img/history_gallery_bg.png") repeat;
  padding: 80px 0 40px; }
  .history-gallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 -14px; }
  .history-gallery-item {
    max-width: 390px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 14px;
    margin-bottom: 20px; }
    .history-gallery-item__image {
      height: 316px;
      overflow: hidden;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 10px;
      position: relative; }
      .history-gallery-item__image:hover:after {
        opacity: 1; }
      .history-gallery-item__image:after {
        content: '';
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 32px;
        height: 32px;
        background: url("../svg/zoom_icon.svg") no-repeat;
        opacity: 0.85;
        -webkit-transition: .2s;
        transition: .2s; }
      .history-gallery-item__image img {
        max-height: 100%; }
    .history-gallery-item__caption {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.006em;
      color: #D7B283; }

.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.full-slider {
  position: relative; }
  .full-slider .owl-dots {
    display: none; }
  .full-slider__item {
    height: 412px;
    background-size: cover;
    width: 100%;
    position: relative; }
  .full-slider .owl-nav button {
    border: none;
    background: url("../svg/full_arrow.svg") no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 0;
    width: 40px;
    height: 35px;
    cursor: pointer; }
  .full-slider .owl-nav .owl-prev {
    left: 50px; }
  .full-slider .owl-nav .owl-next {
    right: 50px;
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1); }

footer {
  background: #674B38; }

.footer {
  padding: 58px 20px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__logo {
    margin-right: 55px; }
    .footer__logo svg {
      width: 114px;
      height: 100px; }
  .footer-contacts {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 254px;
    flex: 0 1 254px;
    margin: auto 0;
    margin-right: 30px; }
    .footer-contacts__item {
      font-size: 16px;
      line-height: 23px;
      font-weight: 700;
      color: #bfaa8f;
      letter-spacing: 0.006em; }
      .footer-contacts__item.phone {
        position: relative; }
        .footer-contacts__item.phone a {
          text-decoration: none;
          color: #bfaa8f; }
        .footer-contacts__item.phone svg {
          width: 14px;
          height: 14px;
          margin-right: 5px;
          position: relative;
          top: 2px;
          fill: #BFAA8F; }
      .footer-contacts__item.mail {
        position: relative; }
        .footer-contacts__item.mail a {
          color: #D7B283;
          text-decoration: none; }
        .footer-contacts__item.mail svg {
          width: 14px;
          height: 14px;
          margin-right: 5px;
          position: relative;
          top: 2px;
          fill: #D7B283; }
  .footer-social {
    margin: auto 0; }
    .footer-social__vk {
      margin-right: 46px; }
      .footer-social__vk svg {
        width: 51px;
        height: 51px; }
  .footer__copyright {
    font-size: 12px;
    line-height: 17px;
    color: #bfaa8f;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 254px;
    flex: 0 1 254px;
    margin-right: 30px;
    padding-top: 18px; }
  .footer-interso {
    padding-top: 18px;
    font-size: 14px;
    line-height: 20px;
    color: #bfaa8f; }
    .footer-interso a {
      color: #bfaa8f;
      text-decoration: none; }

.team-page {
  padding: 22px 0 590px;
  background: #8F8163;
  position: relative; }
  .team-page:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 114px;
    z-index: 10;
    height: 350px;
    background: url("../../img/team_bg.png") repeat-x; }
  .team-page:after {
    content: '';
    position: absolute;
    width: 823px;
    height: 560px;
    bottom: 17px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 15;
    background: url("../../img/team_house.png"); }

.team__title {
  margin: 0 auto 36px;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-family: 'Shnobel', serif; }

.team-desc {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.006em;
  color: #fff;
  margin-bottom: 40px; }
  .team-desc p {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.006em;
    margin-bottom: 26px;
    color: #fff; }
    .team-desc p:last-child {
      margin-bottom: 0; }

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -35px; }
  .team-list-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 278px;
    flex: 0 1 278px;
    margin: 0 26px; }
    .team-list-item__image {
      width: 278px;
      height: 302px;
      margin-bottom: 12px;
      overflow: hidden;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .team-list-item__desc {
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      color: #FFE9CA; }

.team-page .breadcrumbs a {
  color: #E3D2BD;
  position: relative; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 26px; }
  .breadcrumbs a {
    color: #BB4604;
    font-weight: 800;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.006px;
    position: relative;
    text-decoration: none;
    margin-right: 5px; }
    .breadcrumbs a:after {
      content: ' / '; }

.static {
  padding: 32px 0 85px;
  background: url("../../img/pages_bg.png") repeat; }
  .static-body {
    padding: 42px 0 0px; }
    .static-body h2, .static-body h3, .static-body h4, .static-body h5, .static-body h6 {
      text-align: center; }
  .static__title {
    font-family: 'Shnobel', serif;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    margin: 0 0 22px;
    color: #8E491C;
    font-weight: 400; }
  .static-slider-item {
    height: 412px;
    width: 100%;
    background-size: cover;
    position: relative; }
    .static-slider-item__caption {
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 14px 5% 12px;
      font-size: 22px;
      line-height: 32px;
      text-align: center;
      color: #fff;
      font-family: 'Shnobel', serif; }
    .static-slider-item:before {
      content: '';
      position: absolute;
      left: -200%;
      right: -200%;
      top: 0;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(-1.87%, rgba(0, 0, 0, 0.72)), color-stop(5.57%, rgba(0, 0, 0, 0)));
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.72) -1.87%, rgba(0, 0, 0, 0) 5.57%); }
    .static-slider-item:after {
      content: '';
      background: -webkit-gradient(linear, left bottom, left top, color-stop(-0.43%, rgba(0, 0, 0, 0.72)), color-stop(4.6%, rgba(0, 0, 0, 0)));
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.72) -0.43%, rgba(0, 0, 0, 0) 4.6%);
      position: absolute;
      left: -200%;
      right: -200%;
      bottom: 0;
      height: 100%; }
  .static-slider .owl-nav button {
    background: url("../svg/static_arrow.svg") no-repeat;
    width: 21px;
    height: 18px; }

.zoom-image {
  position: relative;
  display: block; }
  .zoom-image img {
    max-width: 100%; }
  .zoom-image:after {
    content: '';
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    background: url("../svg/zoom_icon.svg") no-repeat;
    opacity: 0.85;
    -webkit-transition: .2s;
    transition: .2s; }

.docs {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .docs-item {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.006em;
    color: #BB4604; }
    .docs-item:last-child {
      margin-bottom: 0; }
    .docs-item:before {
      content: '';
      width: 20px;
      height: 24px;
      position: relative;
      display: inline-block;
      margin-right: 6px;
      background: url("../svg/doc.svg") no-repeat;
      bottom: 5px; }

.background {
  background: url("../../img/pages_bg.png") repeat; }

.news__title {
  color: #8E491C;
  margin: 0 auto 66px;
  text-align: center;
  max-width: 920px; }

.news-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #D2AA83;
  padding-bottom: 30px;
  margin-bottom: 30px; }
  .news-main__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 445px;
    flex: 0 0 445px;
    margin-right: 30px; }
    .news-main__image img {
      max-width: 100%; }
  .news-main__title {
    font-size: 36px;
    line-height: 36px;
    color: #bb4604;
    margin-bottom: 14px;
    font-family: 'Shnobel', serif;
    text-decoration: none;
    display: block; }
  .news-main__date {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.006em;
    margin-bottom: 14px; }
  .news-main__desc {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.006em; }

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px -15px;
  overflow: hidden; }
  .news-list-wrapper {
    padding: 32px 0 100px; }
  .news-list-hr {
    margin: 0 -64px; }

.news-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  max-width: 25%;
  position: relative;
  margin: 0 0px 50px;
  padding: 12px 15px; }
  .news-item:nth-child(4n+4):after {
    content: none; }
  .news-item:nth-child(4n+4):before {
    right: 15px; }
  .news-item:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    background: #D2AA83;
    width: 1px; }
  .news-item:before {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 15px;
    right: -15px;
    height: 1px;
    background: #D2AA83; }
  .news-item.last:before {
    content: none; }
  .news-item__date {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.006em;
    margin-bottom: 10px; }
  .news-item-link {
    text-decoration: none; }
  .news-item__image {
    height: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 18px; }
    .news-item__image img {
      max-width: 100%; }
  .news-item__title {
    font-size: 26px;
    line-height: 32px;
    font-family: 'Shnobel', serif;
    color: #bb4604;
    margin-bottom: 8px;
    display: block; }
  .news-item__desc {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.006em;
    position: relative; }
    .news-item__desc:after {
      content: '';
      position: relative;
      top: 4px;
      width: 17px;
      height: 17px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background: url("../svg/full_text.svg") no-repeat; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 60px;
  margin: 42px 0 0; }
  .pagination a {
    color: #BB4604;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.006em;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .pagination__prev:before {
    content: '';
    position: relative;
    width: 22px;
    height: 19px;
    background: url("../svg/pagination.svg") no-repeat;
    margin-right: 12px;
    top: 1px; }
  .pagination__next:after {
    content: '';
    position: relative;
    width: 22px;
    height: 19px;
    background: url("../svg/pagination.svg") no-repeat;
    margin-left: 12px;
    top: 1px;
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1); }
