@media screen and (max-width: 1024px), screen and (max-height: 936px) {
  .start__ground {
    height: 200px; }
  .start__castle {
    width: 646px;
    height: 549px;
    bottom: 80px; }
  .start__road {
    width: 185px;
    color: #000;
    height: 176px;
    right: -57px; }
  .start__princess {
    width: 95px;
    bottom: 50px;
    right: 150px;
    height: 146px; }
  .start__prince {
    width: 102px;
    height: 136px;
    bottom: 40px;
    left: 323px; }
  .start__green {
    height: 258px; }
  .start-copyright {
    max-width: 315px;
    font-size: 11px;
    line-height: 15px;
    bottom: 17px;
    left: 23px; }
  .start-interso {
    right: 23px;
    bottom: 17px;
    font-size: 11px;
    line-height: 15px; }
  .start__sun {
    width: 174px;
    height: 174px;
    right: 65px;
    top: 45px; }
  .start-logotype {
    top: 71px;
    left: 83px;
    width: 143px;
    height: 122px; }
  .start__castles {
    width: 820px;
    height: 235px;
    bottom: 191px; }
  .main-menu__logo {
    width: 125px;
    height: 107px; }
    .main-menu__logo img {
      max-width: 100%; }
  .main-houses {
    max-width: 774px;
    margin: -30px auto 0;
    height: calc(100vh - 103px); }
    .main-houses__area {
      width: 257px;
      top: 292px;
      left: 253px;
      background-size: contain;
      background-repeat: no-repeat; }
    .main-houses__tourist {
      top: 266px;
      left: 264px; }
    .main-houses__woman {
      top: 401px;
      left: 381px; }
  .main-house:hover:before {
    background-size: contain !important; }
  .main-house:after {
    background-size: contain !important; }
  .main-house.gallery {
    width: 218px;
    height: 263px;
    top: 9px;
    left: 0; }
    .main-house.gallery:after {
      top: -1px;
      left: 1px; }
  .main-house.school {
    width: 353px;
    height: 245px;
    top: 18px;
    left: 207px; }
    .main-house.school:after {
      right: 5px; }
  .main-house.shop {
    width: 228px;
    height: 272px;
    top: 0;
    right: 0; }
    .main-house.shop:after {
      top: 4px;
      left: 5px;
      bottom: 5px; }
  .main-house.showroom {
    width: 232px;
    height: 217px;
    top: 255px;
    left: 0; }
    .main-house.showroom:after {
      top: -22px;
      left: 4px;
      right: 4px; }
  .main-house.museum {
    width: 227px;
    height: 259px;
    top: 217px;
    right: 19px; }
    .main-house.museum:after {
      right: 1px; }
  .main-house.theater {
    width: 227px;
    height: 242px;
    top: 427px;
    left: 86px; }
    .main-house.theater:after {
      right: 3px; }
  .main-house.workshop {
    width: 218px;
    height: 236px;
    top: 438px;
    right: 106px; }
    .main-house.workshop:after {
      top: 4px;
      left: -5px;
      bottom: 5px; }
  .popup-item {
    width: 350px;
    height: 260px;
    top: 200px;
    bottom: auto;
    height: auto;
    padding: 37px 28px 26px;
    text-align: center; }
    .popup-item:before {
      z-index: -1; }
    .popup-item.gallery:before {
      top: -10px;
      left: -50px; }
    .popup-item.shop:before {
      top: -10px;
      right: -60px; }
    .popup-item.theater:before {
      bottom: -60px;
      left: -5px; }
    .popup-item.workshop:before {
      bottom: -60px;
      right: -5px; }
    .popup-item__title {
      font-size: 30px;
      line-height: normal;
      color: #bb4604;
      margin-bottom: 20px; }
    .popup-item__desc {
      font-size: 16px; }
  .main-page-footer {
    max-width: 130px;
    font-weight: 400; }
  .main-page:after {
    background: url("../../img/grey_streen_small_1.png") no-repeat;
    height: 590px;
    top: 151px;
    left: auto;
    width: 100%;
    background-repeat: repeat-x;
    right: 67%;
    background-position: right center; }
  .main-page:before {
    position: absolute;
    content: '';
    background: url("../../img/grey_streen_small_2.png") no-repeat;
    height: 590px;
    top: 147px;
    width: 100%;
    left: 65%;
    background-position: left center; }
  .inner-header {
    height: 193px; }
    .inner-header:before {
      width: 476px;
      background: url("../../img/header_left_small.png") no-repeat;
      right: 55%;
      left: auto; }
    .inner-header:after {
      width: 455px;
      background: url("../../img/header_right_small.png") no-repeat;
      right: auto;
      left: 65%; }
  .inner-header {
    padding-top: 12px; }
  .main-menu__logo {
    width: 112px;
    height: 96px; }
  .main-menu__item {
    font-size: 18px;
    line-height: 20px;
    margin-right: 20px; }
  .main-header-contacts--inner {
    top: 130px; }
  .main-header-contacts--inner .main-header-contacts-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main-header-contacts__address, .main-header-contacts__phone, .main-header-contacts__mail {
    font-size: 13px;
    line-height: 17px; }
  .footer {
    padding: 38px 0 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer__logo {
      margin-right: 30px; }
      .footer__logo svg {
        width: 94px;
        height: 82px; }
    .footer-contacts {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-right: 20px; }
  .team-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 -15px; }
    .team-list-item {
      margin: 0 15px 30px; }
  .team-page {
    padding-bottom: 525px; }
    .team-page:after {
      width: 664px;
      height: 451px;
      bottom: 34px;
      background-size: cover; }
    .team-page:before {
      height: 270px;
      bottom: 112px;
      background-size: cover; }
  .content blockquote {
    font-size: 22px;
    line-height: 29px; }
  .content hr {
    background-position: center !important;
    margin: 34px auto;
    max-width: 100%; }
  hr {
    background-position: center !important;
    margin: 34px auto;
    max-width: 100%; }
  .news-main__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 370px;
    flex: 0 0 370px; }
  .news-main__desc {
    font-size: 18px;
    line-height: 24px; }
  .news-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    max-width: 33.333%; }
    .news-item:nth-child(3n+3):after {
      content: none !important; }
    .news-item:nth-child(4n+4):before {
      right: -15px; }
    .news-item:after {
      content: '' !important;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0px;
      background: #D2AA83;
      width: 1px; }
  .news-list-hr {
    margin: 0 auto; }
  .news__title {
    margin-bottom: 40px; }
  .news-detail {
    padding-bottom: 48px; }
  .history-gallery-item {
    max-width: 33%; }
  .news-more .news-item:after {
    content: none !important; }
  .news-more__separator {
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .form-status {
    margin: 0 auto 27px; }
  .contacts-wrapper {
    padding: 32px 0 25px; }
  .error-page .main-menu__logo {
    margin-left: 0 !important; }
  .main-menu__item + .main-menu__logo {
    margin-left: 0; }
  .door__left {
    width: 40px;
    left: 319px;
    height: 97px;
    bottom: 45px; }
  .door__right {
    width: 40px;
    height: 97px;
    bottom: 44px;
    right: 250px; }
  .start__castle:hover .door__left {
    -webkit-transform: rotateY(-180deg) translateX(38px);
    transform: rotateY(-180deg) translateX(38px); }
  .start__castle:hover .door__right {
    -webkit-transform: rotateY(180deg) translateX(-26px);
    transform: rotateY(180deg) translateX(-26px); } }
