@media (max-width: 720px) {
  .start__castle {
    width: 705px;
    height: 590px;
    bottom: 240px;
    background-position: 55% 50%; }
  .start__princess {
    width: 107px;
    height: 165px;
    bottom: 101px;
    left: 20px;
    right: auto; }
  .start__prince {
    width: 114px;
    height: 153px;
    right: 20px;
    left: auto;
    bottom: 146px; }
  .start__road {
    width: 220px;
    height: 319px;
    background: url("../../img/start_road_mobile.png") no-repeat;
    background-size: contain;
    right: -46px; }
  .start__castles {
    width: 610px;
    height: 300px;
    bottom: 436px;
    width: 100%;
    background-size: cover;
    background-position: center; }
  .start-logotype {
    width: 149px;
    height: 127px;
    top: 43px;
    right: 0;
    left: 0;
    margin: 0 auto; }
  .start-wrapper {
    height: 1024px;
    max-height: none;
    position: relative; }
    .start-wrapper .menu__trigger {
      width: 25px;
      height: 23px;
      background: url("../svg/burger.svg") no-repeat;
      top: 32px;
      left: 32px;
      position: absolute;
      display: block;
      z-index: 100;
      cursor: pointer; }
      .start-wrapper .menu__trigger:before {
        content: '';
        position: absolute;
        left: -15px;
        top: -15px;
        right: -15px;
        bottom: -15px; }
  .start-page {
    height: 1024px;
    position: relative; }
  .start__ground:after {
    bottom: -174px; }
  .start__ground {
    height: 308px; }
  .start__sun {
    display: none; }
  .start-copyright, .start-interso {
    display: none; }
  .start-copyright.small {
    display: none; }
  .main-header {
    height: 177px;
    padding: 32px 25px 0 29px; }
    .main-header .menu__trigger {
      width: 25px;
      height: 23px;
      background: url("../svg/burger.svg") no-repeat;
      position: relative;
      display: block;
      cursor: pointer; }
      .main-header .menu__trigger.active {
        background: url("../svg/burger_active.svg") no-repeat; }
      .main-header .menu__trigger:before {
        content: '';
        position: absolute;
        left: -15px;
        top: -15px;
        right: -15px;
        bottom: -15px; }
  .main-header-contacts, .main-menu {
    display: none; }
  .main-header {
    margin-bottom: 20px; }
  .mobile-header {
    display: block;
    position: relative;
    padding-right: 172px; }
    .mobile-header .main-header-contacts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .mobile-header .main-menu__logo {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 0;
      width: 136px;
      height: 116px; }
    .mobile-header .main-header-contacts {
      position: relative;
      display: block;
      text-align: left;
      margin-top: 34px;
      width: 150px; }
      .mobile-header .main-header-contacts__address {
        text-align: left;
        margin-bottom: 10px; }
      .mobile-header .main-header-contacts__phone {
        margin-bottom: 10px; }
  .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: -32px;
    left: -29px;
    right: -25px;
    background: #8E491C;
    z-index: 120;
    padding-top: 80px;
    padding-bottom: 5px;
    opacity: 0;
    -webkit-transition: .4s opacity;
    transition: .4s opacity; }
    .main-menu.mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      z-index: -1; }
      .main-menu.mobile .main-menu__logo {
        display: none; }
    .main-menu__item {
      font-size: 26px;
      line-height: 20px;
      color: #fff;
      padding: 20px 30px;
      border-top: 1px solid #723712;
      width: 100%; }
  .mobile-menu__close {
    position: absolute;
    top: 30px;
    right: 32px;
    background: url("../svg/close.svg") no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    cursor: pointer; }
    .mobile-menu__close:after {
      content: '';
      position: absolute;
      top: -7px;
      bottom: -7px;
      right: -7px;
      left: -7px; }
  .main-page {
    height: auto;
    min-height: 0; }
  .main-page-footer.tablet {
    display: none; }
  .main-houses {
    display: none; }
  .mobile-houses {
    padding: 0 15px;
    display: block; }
  .mobile-house {
    position: relative; }
    .mobile-house:before {
      content: '';
      position: absolute;
      height: 200px;
      width: 400px;
      background: url("../../img/street_mobile.png") no-repeat;
      background-position: center right;
      background-repeat-x: repeat; }
    .mobile-house:after {
      content: '';
      position: absolute;
      height: 200px;
      width: 400px;
      background: url("../../img/street_mobile.png") no-repeat;
      background-position: center left;
      background-repeat-x: repeat; }
    .mobile-house img {
      max-width: 100%; }
    .mobile-house__image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto 14px;
      z-index: 5;
      position: relative; }
    .mobile-house .popup-item {
      position: relative;
      max-width: 100%;
      width: 100%;
      padding: 32px 20px 30px;
      top: 0;
      bottom: 0;
      opacity: 1;
      z-index: 6; }
      .mobile-house .popup-item:before {
        content: '';
        background: url("../svg/mobile_popup.svg") no-repeat;
        width: 24px;
        height: 35px;
        position: absolute;
        top: -34px; }
    .mobile-house.school:before {
      top: 17px;
      right: 70%; }
    .mobile-house.school:after {
      top: 0;
      left: 61%; }
    .mobile-house.school .mobile-house__image {
      width: 348px;
      height: 239px; }
    .mobile-house.school .popup-item:before {
      left: 106px;
      right: 200px;
      margin: 0 auto; }
    .mobile-house.gallery {
      margin-top: -20px;
      z-index: 10; }
      .mobile-house.gallery:before {
        height: 247px;
        top: 80px;
        right: 38%;
        background-position: center right; }
      .mobile-house.gallery:after {
        top: 80px;
        left: 83%;
        height: 247px; }
      .mobile-house.gallery .mobile-house__image {
        width: 267px;
        height: 322px;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-left: auto;
        margin-right: 0; }
      .mobile-house.gallery .popup-item:before {
        left: auto;
        right: 60px;
        -webkit-transform: scale(-1, 1);
        transform: scale(-1, 1); }
    .mobile-house.shop {
      margin-top: -20px;
      z-index: 10; }
      .mobile-house.shop:before {
        height: 247px;
        top: 80px;
        right: 67%; }
      .mobile-house.shop:after {
        top: 80px;
        height: 247px;
        left: 45%; }
      .mobile-house.shop .mobile-house__image {
        width: 268px;
        height: 322px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-left: 0;
        margin-right: auto; }
      .mobile-house.shop .popup-item:before {
        right: auto;
        left: 100px; }
    .mobile-house.showroom {
      z-index: 10; }
      .mobile-house.showroom:before {
        height: 247px;
        top: 35px;
        right: 52%; }
      .mobile-house.showroom:after {
        top: 35px;
        height: 247px;
        left: 45%; }
      .mobile-house.showroom .mobile-house__image {
        width: 273px;
        height: 286px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 8px; }
      .mobile-house.showroom .popup-item:before {
        right: 100px;
        left: auto;
        -webkit-transform: scale(-1, 1);
        transform: scale(-1, 1); }
    .mobile-house.museum {
      margin-top: -20px;
      z-index: 10; }
      .mobile-house.museum:before {
        height: 247px;
        top: 77px;
        right: 67%; }
      .mobile-house.museum:after {
        top: 75px;
        height: 247px;
        left: 40%; }
      .mobile-house.museum .mobile-house__image {
        width: 272px;
        height: 308px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-left: 0;
        margin-right: auto; }
      .mobile-house.museum .popup-item:before {
        right: auto;
        left: 85px; }
    .mobile-house.workshop {
      z-index: 10;
      margin-top: -10px; }
      .mobile-house.workshop:before {
        height: 247px;
        top: 35px;
        right: 52%; }
      .mobile-house.workshop:after {
        top: 35px;
        height: 247px;
        left: 45%; }
      .mobile-house.workshop .mobile-house__image {
        width: 264px;
        height: 276px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 8px; }
      .mobile-house.workshop .popup-item:before {
        right: 171px;
        left: auto;
        -webkit-transform: scale(-1, 1);
        transform: scale(-1, 1); }
    .mobile-house.theater {
      margin-top: 10px;
      z-index: 10;
      margin-bottom: 46px; }
      .mobile-house.theater:before {
        height: 247px;
        top: 50px;
        right: 67%; }
      .mobile-house.theater:after {
        top: 50px;
        height: 247px;
        left: 40%; }
      .mobile-house.theater .mobile-house__image {
        width: 272px;
        height: 282px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-left: 0;
        margin-right: auto; }
      .mobile-house.theater .popup-item:before {
        right: auto;
        left: 120px; }
  .gallery_woman {
    width: 50px;
    height: 105px;
    background: url("../../img/woman.png") no-repeat;
    background-size: cover;
    left: 0;
    top: 210px;
    z-index: 12;
    position: absolute; }
  .gallery_tourist {
    width: 74px;
    height: 102px;
    background: url("../../img/tourist.png") no-repeat;
    background-size: cover;
    right: 0;
    top: 210px;
    z-index: 12;
    position: absolute; }
  .main-page-footer.mobile {
    display: block;
    position: relative;
    max-width: none;
    font-size: 13px;
    line-height: 19px;
    bottom: 0;
    margin-bottom: 36px; }
    .main-page-footer.mobile span {
      margin-bottom: 19px; }
      .main-page-footer.mobile span:last-child {
        margin-bottom: 0; }
  .start-wrapper {
    min-height: 0; }
    .start-wrapper .main-menu {
      top: 0;
      left: 0;
      right: 0; }
    .start-wrapper .menu__trigger.active {
      background: url("../svg/burger_active.svg") no-repeat; }
  .inner-header {
    margin-bottom: 0;
    border-bottom: 2px solid #A08255;
    height: 201px; }
    .inner-header:after, .inner-header:before {
      content: none; }
  .full-slider__item {
    background-position: center;
    height: 375px; }
  .full-slider .owl-nav .owl-prev {
    left: 15px; }
  .full-slider .owl-nav .owl-next {
    right: 15px; }
  h1 {
    font-size: 36px;
    line-height: 40px; }
  .history-body {
    padding-bottom: 56px; }
    .history-body__title {
      margin-bottom: 30px;
      font-size: 36px;
      line-height: 40px; }
    .history-body-text {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      margin: 0;
      margin-bottom: 40px; }
      .history-body-text p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px; }
        .history-body-text p:last-child {
          margin-bottom: 0; }
    .history-body-author {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .history-body-author-text {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin: 0; }
      .history-body-author__image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        margin-bottom: 14px; }
      .history-body-author__caption {
        text-align: center;
        font-size: 15px;
        line-height: normal; }
      .history-body-author__name {
        text-align: center; }
  .history-gallery {
    padding: 0;
    position: relative; }
    .history-gallery .container {
      max-width: none; }
    .history-gallery .owl-dots {
      display: none; }
    .history-gallery .owl-nav {
      display: none; }
    .history-gallery-list {
      display: block; }
    .history-gallery-item {
      max-width: 100%;
      margin: 0;
      padding: 0;
      width: 100%; }
      .history-gallery-item__image {
        height: 375px;
        background: url("../../img/gallery_bg.png") repeat;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .history-gallery-item__caption {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        padding: 10px 15px 64px; }
  .gallery-counter {
    font-size: 12px;
    position: absolute;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #c4c4c4;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto; }
    .gallery-counter__current:after {
      content: ' / ';
      position: relative; }
  .footer-contacts__item {
    font-size: 14px; }
  .team__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 35px; }
  .team-desc p {
    font-size: 18px;
    line-height: 24px; }
  .team-page {
    padding-bottom: 353px; }
    .team-page:after {
      width: 337px;
      height: 228px;
      bottom: 43px; }
    .team-page:before {
      height: 137px;
      bottom: 82px; } }
