@media (max-width: 820px) {
  .start__castle {
    width: 660px;
    height: 560px;
    bottom: 246px; }
  .start__ground {
    height: 268px;
    bottom: 99px;
    background: url("../../img/start_ground__small.png") no-repeat;
    background-size: cover; }
    .start__ground:after {
      content: '';
      position: absolute;
      bottom: -99px;
      right: -200%;
      left: -200%;
      top: 208px;
      background: #5C6237; }
  .start-wrapper {
    overflow: hidden;
    max-height: 100vh;
    height: 100vh; }
  .start__road {
    width: 220px;
    height: 302px;
    background: url("../../img/road_small.png") no-repeat;
    right: -100px; }
  .start__princess {
    width: 107px;
    height: 165px;
    bottom: 83px; }
  .start__prince {
    width: 114px;
    height: 153px;
    bottom: 100px;
    left: 370px; }
  .start__green {
    bottom: 190px; }
  .start__castles {
    width: 750px;
    height: 202px;
    bottom: 383px; }
  .start-copyright {
    display: none; }
    .start-copyright.small {
      font-size: 14px;
      line-height: 17px;
      max-width: 210px;
      display: block;
      left: 40px;
      bottom: 22px; }
  .start-interso {
    font-size: 14px;
    line-height: 17px;
    bottom: 22px;
    right: 40px; }
  .start-logotype {
    width: 205px;
    height: 175px;
    top: 87px;
    left: 30px; }
  .start__sun {
    width: 189px;
    height: 188px;
    top: 96px;
    right: 30px; }
  .main-houses {
    top: 55px;
    max-width: 100%;
    height: calc(100vh - 177px); }
    .main-houses:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../../img/houses_tablet.png") no-repeat;
      background-position: center top; }
    .main-houses__area {
      margin: 0 auto;
      left: 0;
      right: 0; }
    .main-houses__tourist {
      right: 85px;
      left: 0;
      margin: 0 auto; }
    .main-houses__woman {
      top: 456px;
      left: 22px;
      right: 0;
      margin: 0 auto; }
  .main-house.school {
    width: 315px;
    height: 214px;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto; }
    .main-house.school:after {
      right: 8px;
      left: 6px; }
  .main-house.gallery {
    width: 199px;
    height: 236px;
    top: 133px;
    left: 47px; }
  .main-house.shop {
    width: 203px;
    height: 248px;
    top: 119px;
    right: 44px;
    left: auto; }
    .main-house.shop:after {
      right: 4px; }
  .main-house.showroom {
    width: 210px;
    height: 195px;
    top: 371px;
    left: 42px; }
    .main-house.showroom:after {
      top: -20px; }
  .main-house.museum {
    width: 199px;
    height: 232px;
    top: 329px;
    right: 42px;
    left: auto; }
  .main-house.theater {
    width: 205px;
    height: 216px;
    top: 551px;
    left: 116px; }
    .main-house.theater:after {
      right: 6px; }
  .main-house.workshop {
    width: 195px;
    height: 210px;
    top: 552px;
    right: 129px;
    left: auto; }
  .main-page {
    height: 100vh;
    min-height: 1024px; }
    .main-page-footer {
      display: none; }
    .main-page-footer.tablet {
      max-width: none;
      bottom: 13px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-size: 12px;
      line-height: 17px;
      color: #757575;
      padding: 0 40px;
      text-align: left; }
      .main-page-footer.tablet span:first-of-type {
        text-align: left; }
      .main-page-footer.tablet span:last-child {
        text-align: right;
        margin-left: 20px; }
    .main-page:after, .main-page:before {
      content: none; }
  .popup-item {
    width: 270px;
    height: auto;
    bottom: auto;
    top: 228px;
    padding: 32px 20px 26px;
    text-align: center; }
    .popup-item__title {
      font-size: 28px;
      line-height: 34px;
      color: #bb4604;
      margin-bottom: 4px; }
    .popup-item__desc {
      font-size: 14px;
      line-height: 20px; }
    .popup-item:before {
      z-index: -1; }
    .popup-item.school:before {
      left: 80px;
      top: -40px; }
    .popup-item.gallery:before {
      top: 70px;
      left: -55px; }
    .popup-item.shop:before {
      top: 40px;
      right: -60px; }
    .popup-item.showroom:before {
      top: 210px;
      left: -65px; }
    .popup-item.theater:before {
      bottom: -56px;
      left: -20px; }
    .popup-item.museum:before {
      right: -70px;
      top: 185px; }
    .popup-item.workshop:before {
      right: -35px;
      bottom: -50px; }
  .history-gallery-item {
    max-width: 50%; }
  footer .container {
    max-width: 100%; }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer-item-wrapper {
      margin-bottom: 24px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .footer__logo {
      margin: 0;
      margin-right: 20px;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
      flex: 0 1 100px;
      min-width: 60px; }
      .footer__logo svg {
        width: 100%;
        min-width: 60px; }
    .footer-contacts {
      margin: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
    .footer-social {
      text-align: center;
      margin: 0 auto 30px; }
      .footer-social__vk {
        margin: 0; }
    .footer__copyright {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      margin: 0 auto 20px;
      text-align: center;
      padding: 0; }
    .footer-interso {
      padding: 0;
      margin: 0 auto;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      text-align: center; }
  .news-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .news-main__image {
      margin: 0 auto 30px; }
  .pagination__next {
    text-align: right; }
  .error-body__desc {
    text-align: center; }
  .error-page .container {
    max-width: 100%; } }
